Source: xepub
Section: utils
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends:
 debhelper-compat (= 13),
 gettext,
 gtk-update-icon-cache,
 libglib2.0-dev | libgio-2.0-dev,
 meson,
 pkg-config,
 python3,
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: xepub
Architecture: all
Depends:
 ${misc:Depends},
 gir1.2-gtk-3.0,
 gir1.2-webkit2-4.1,
 python3,
 python3-gi,
 python3-xapp,
 python3-setproctitle,
Description: EPUB reader for the Linux desktop
 Xepub is a secure, comfortable, paginated EPUB reader.
